#main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: center;
    height: 100px;
    align-content: center;
}

#title {
    font-size: 50px;
}

#add-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: nowrap;
}

#add-input {
    flex-basis: 30%;
    height: 30px;
}

#add-button {
    font-size: 20px;
}

#list-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#list {
    list-style-type: none;
    font-size: 23px;
    margin: 0;
    padding: 0;
    flex-basis: 44%;
}

input.strike ~ span {
    text-decoration: line-through;
    color: green;
}
